body{
    background-image: url('../resources/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
html *{
    font-family: 'Amaranth', sans-serif;
}


.myFont{
    font-family: 'Amaranth', sans-serif;
}

#logoDiv {
    height: 40%;
    width: 25%;
    position: fixed;
    z-index: -1;
    top: 60%;
    left: 37.4%;
}

#logo {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}
    
    
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
    
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.top5 {
	margin-top: 5px;
}

.top10 {
	margin-top: 10px;
}

.top25 {
    margin-top: 25px;
}

.top50 {
	margin-top: 50px;
}

.top75{
  margin-top: 75px;
}

.top80 {
    margin-top: 80px;
}

.bottom10{
    margin-bottom: 10px;
}

.bottom25 {
    margin-bottom: 25px;
}

.bottom50 {
    margin-bottom: 25px;
}

.bottom150{
    margin-bottom: 150px;
}

.left10{
    margin-left: 10px;
}

.left20{
    margin-left: 20px;
}

#parallax {
                
                min-height: 500px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }


